# Django & DB
Django
psycopg2-binary
python-decouple
dj-rest-auth
django-filter
whitenoise
gunicorn

# Google Auth & Security
django-allauth
requests
PyJWT
cryptography

# AI (Gemini)
google-genai
pydantic
httpx

# Real-time (Channels)
channels
channels-redis
daphne
websockets

# Background Tasks (Celery)
celery
redis

# Media
Pillow