Django
psycopg2-binary
python-decouple
djangorestframework
dj-rest-auth
django-filter
gunicorn
channels
channels-redis
daphne==4.1.0
whitenoise
Pillow
django-allauth
redis
celery
requests==2.31.0
PyJWT==2.8.0
cryptography==42.0.5